*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0072B8,#003DA5);
}

#container{
    padding: 30px;
    max-width: 400px;
    background-color: #C8102E;
    border-radius: 5px;
}

#dictionary{
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#search{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#sound{
    background-color: rgb(93, 195, 202);
    padding: 5px;
    border-radius: 100px;
    cursor: pointer;
    color: white;
}

#inpWord{
    padding: 5px;
    border: none;
    box-shadow: 0 0 1px gray;
    margin-right: 0;
    font-size: 15px;
    outline: none;
    border-radius: 5px 0 0 5px;
}

#submit{
    margin-left: 0;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(93, 195, 202);
    color: white;
    border: none;
    box-shadow: 0 0 1px gray;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
}

#submit:hover, #sound:hover{
    background-color: rgb(101, 216, 224);
}

#submit:active, #sound:active{
    background-color: rgb(107, 231, 240);
}

#result{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    display: none;
}